@font-face {
    font-family: ekan;
    src: url(/font/Yekan.ttf);
}
body{
    background-color: rgb(227, 233, 233);
}
h1{
    font-family: ekan;
}




#div{
    height: 20px;
    width: 1700px;
    background-color: blueviolet;
}
.aks{
    border-radius: 40px;
}
h2{
    color: rgb(6, 19, 133);
    font-family: ekan;
}
h3{
    font-family: ekan;
    color: rgb(215, 16, 16);
}
.btn{
    height: 20px;
    width: 80px;
    background-color: rgb(98, 247, 39);
    border: none;
    border-radius: 30px;
    font-family: ekan;
    cursor: pointer;
    font-weight: 500;

}
.btn:hover{
    background-color: rgb(216, 82, 82);
    font-weight: 900;
}
.img{
    border-radius: 40px;
}
#matn{
    font-family: ekan;
    font-weight: 900;
}
.btn1{
    height: 25px;
    width: 200px;
    border: none;
    background-color: rgb(26, 218, 154);
    font-family: ekan;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 700;
}
.btn1:hover{
    background-color: rgb(106, 231, 231);
    font-weight:950 ;
}